# ===============================
# Environment variables
# ===============================
.env

# пример оставляем в репозитории
!.env.example

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# IDE
# ===============================
.idea/
*.iml
.gigaide/

# ===============================
# Maven build
# ===============================
target/

# ===============================
# Maven wrapper logs (если появятся)
# ===============================
*.log

# ===============================
# Python artifacts
# ================================
ml_server/__pycache__/
ml_server/*.pyc
ml_server/venv/
ml_server/.venv/