DB_URL=
DB_USERNAME=
DB_PASSWORD=

JPA_SHOW_SQL=true

LOG_ROOT_LEVEL=INFO
LOG_APP_LEVEL=DEBUG
LOG_WEB_LEVEL=INFO

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
CLIENT_HOST=

ML_BASE_URL=
ML_GENERATE_ENDPOINT=

JWT_SECRET=
JWT_EXPIRATION=